# Byte-compiled Python files
*.pyc
*.pyo
__pycache__/

# Virtual environment directory
venv/
env/

# Ignore the pie chart I created for my practice
static/allocation.png

# Environment variables (Hide API Keys)
.env

# Logs
*.log

# IDE-specific files
.vscode/
.idea/