# Ignore virtual environment files
venv/
__pycache__/
*.pyc

# Ignore environment variables
.env

# Ignore OS and IDE-specific files
.DS_Store
*.log
*.idea/
*.vscode/

# Ignore compiled or temporary files
*.pyo
*.swp
